---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import FormattedDate from "@components/FormattedDate.astro";
import { readingDate } from "@lib/utils";
import BackToPrev from "@components/BackToPrev.astro";
import { SITE, SOCIALS } from "@consts";

export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<PageLayout title={post.data.title} description={post.data.description}>
  <Container>
   <div class="animate flex gap-2">
      <a href="/" class="relative group w-fit flex items-center gap-1.5 px-3 py-1.5 rounded border border-black/15 dark:border-white/20 hover:bg-black/5 dark:hover:bg-white/5 transition-colors duration-300 ease-in-out text-black dark:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" class="group-hover:-translate-x-1 transition-transform duration-300 ease-in-out">
          <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
          <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
        <span class="text-sm">返回主页</span>
      </a>

      <BackToPrev href="/blog">
        Back to blog
      </BackToPrev>
    </div>
    <div class="space-y-1 my-10 text-stone-600 dark:text-stone-400">
      <div class="animate flex items-center gap-1.5">
        <FormattedDate date={post.data.date} />
      </div>
      <div class="animate text-2xl font-semibold text-black dark:text-white">
        {post.data.title}
      </div>
    </div>
    <article class="animate">
      <Content />

      <div class="animate flex flex-wrap gap-x-4 gap-y-2 mt-4 mb-6">
        {post.data.tags && post.data.tags.map((tag: string) => (
          <span class="text-stone-500 dark:text-stone-400 text-sm hover:text-black dark:hover:text-white transition-colors cursor-default">
            #{tag}
          </span>
        ))}
      </div>
      
      <hr class="my-12 border-stone-200 dark:border-stone-800" />
      <section class="space-y-6 pb-20">
        <h5 class="font-semibold text-black dark:text-white text-lg">
          让我们彼此触达
        </h5>
        <div class="prose dark:prose-invert text-stone-600 dark:text-stone-400">
          <p>
            万物穿身而过，就在此处。如果你想知道更多，或者想和我聊聊任何想法，或者单纯打个招呼，欢迎通过以下方式触达。（点击下方可跳转）
          </p>
        </div>
        <ul class="flex flex-wrap gap-x-4 gap-y-2 text-sm">
          {SOCIALS.map((SOCIAL) => (
            <li class="flex items-center gap-x-4">
              <a href={SOCIAL.HREF} target="_blank" class="underline underline-offset-4 decoration-stone-300 dark:decoration-stone-700 hover:decoration-black dark:hover:decoration-white transition-all">
                {SOCIAL.NAME}
              </a>
              <span class="text-stone-300 dark:text-stone-800">/</span>
            </li>
          ))}
          <li>
            <a href={`mailto:${SITE.EMAIL}`} class="underline underline-offset-4 decoration-stone-300 dark:decoration-stone-700 hover:decoration-black dark:hover:decoration-white transition-all">
              {SITE.EMAIL}
            </a>
          </li>
        </ul>
      </section>
    </article>
  </Container>
</PageLayout>
