---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex flex-wrap gap-y-2 justify-between">
      <Link href="/" underline={false}>
        <div class="font-semibold">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1 text-sm items-center">
        <Link href="/blog">
          文章
        </Link>
        <span>/</span>
        <Link href="/work">
          工作
        </Link>
        <span>/</span>
        <Link href="/projects">
          作品灵感
        </Link>
        
        <div class="ml-4 flex gap-1 text-xs text-black/50 dark:text-white/50 border-l border-black/10 dark:border-white/10 pl-4">
          <Link href="/" underline={false}>CN</Link>
          <span>/</span>
          <Link href="/en" underline={false}>EN</Link>
          <span>/</span>
          <Link href="/de" underline={false}>DE</Link>
          <span>/</span>
          <Link href="/fr" underline={false}>FR</Link>
        </div>
      </nav>
    </div>
  </Container>
</header>
